.banner {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 0, 0.24); */
    width: 100%;
}

.contentBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    width: 50%;
    /* background-color: rgba(0, 0, 255, 0.329); */
}

.imageBannerArea {
    width: 50%;
    /* background-color: rgba(255, 0, 149, 0.178); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white;
    border-radius: 80%; */
}

/* .animateArea {
    width:330px;
    height:230px;
    border:1px solid #ffffff;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    margin:auto;
    border-radius:50%;
} */

.animateCircle {
  width:15px;
  height:15px;
  background:#705cf6;
  border-radius:50%;
  position:absolute;
  animation: circle 10s linear infinite;
}

@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }

.augustoFoto {
    height: 300px;
    width: auto;
    border-radius: 50%;
}

.hello {
    font-size: 2rem;
    margin: 0;
}

.titleWhite, .titleColor {
    font-size: 4rem;
    margin: 0;
}

.titleColor {
    /* color: #3D93FF; */
    color: #705cf6;
}

.typeWriterText {
    font-size: 30px;
}

.btnCurriculum {
    background-color: #705cf6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    /* font-family: 'Montserrat', arial, sans-serif; */
    font-weight: 600;
    margin-top: 20px;
    cursor: grab;
}

.downIcon {
    width: 15px;
}
