.header {
    /* background-color: #11182757; */
    background-color: #111827;
    position: fixed; 
    top: 0; 
    /* left: 0;  */
    width: 100%;
    height: 90px;
    /* z-index: 999px;  */
    /* box-shadow: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0m; */
      
}

.icons {    
    /* width: 30%; */
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}

.icon {
    height: 30px;
    width: auto;
    margin: 0px 15px;
}
