.skillArea {
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    color: #111827;
    margin: 15px 15px;
    width: 100px;
    height: 100px;
}

.skillArea:hover {
    /* background-color: #705cf6; */
    background-color: #f7b900c5;
    color: #111827;
    /* border: solid 1px white; */
    transform: scale(1.2);
}

.img {
    height: 50px;
    width: auto;
    padding-bottom: 5px;
}

